ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

img {
    display: block;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 1128px;
    margin: 0 auto;
}

.gallery-link:hover {
    cursor: url('../img/cursor.svg') 44 44, auto;
}

.gallery-image {
    width: 360px;
    height: 200px;
}

.feedback-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    border-radius: 8px;
    padding: 24px;
    width: 408px;
    height: 296px;
    margin-left: auto;
    margin-right: auto;
}

.email-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
    padding: 8px 16px;
}

.textarea-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 80px;
    resize: none;
    margin-bottom: 8px;
    padding: 8px 16px;
}

.email-input:hover, .textarea-input:hover {
    border-color: #000;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: transparent;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background-color: #4e75ff;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #6c8cff;
}